@media all and (max-width:768px){
    .field{
        font-size: 20px;
    }

    .label{
        font-weight: bold;
        padding-right: 20px;
    }

    .spacer20{
        height: 20px;
    }

    .spacer50{
        height: 50px;
    }

    .sectionHeader{
        font-size: 22px;
        font-weight: bold;
    }

    .pointGreen{
        color:rgb(0, 198, 0);
    }

    .pointRed{
        color:red;
    }

    .pointYellow{
        color:#fce300;
    }
}